<!DOCTYPE html>
<html>
<head>
  <title>RealEstate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header style="width:100px; height:100px;">
	<%#= image_tag "satelite-orbit.jpg", height: '100', width: '150' %><!-- logo -->
	

</header>

<body>

<%= yield %>

</body>
</html>
